<!--header-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700|Shadows+Into+Light" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicon/apple-icon-57x57.png') }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicon/apple-icon-60x60.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon/apple-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon/apple-icon-76x76.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon/apple-icon-114x114.png') }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon/apple-icon-120x120.png') }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon/apple-icon-144x144.png') }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon/apple-icon-152x152.png') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-icon-180x180.png') }}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicon/android-icon-192x192.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
	<title>Bartisanal - Ecommerce</title>
</head>
<body>

	<header>
		<div class="container">
			<div class="row justify-content-lg-between justify-content-center py-3 align-items-center">
				<div class="col col-auto order-2 order-lg-1">
					<ul class="nav">
						<li class="nav-item">
							<a href="{{ url_for('home')}}" class="nav-link active">Inicio</a>
						</li>

						<li class="nav-item">
							<a href="#" class="nav-link">Acerca de</a>
						</li>

						<li class="nav-item">
							<a href="#" class="nav-link">Contacto</a>
						</li>
					</ul>
				</div>

				<div class="col-12 col-lg text-center col-auto order-1 order-lg-2">
					<a href="/" class="website-title" >
						<img class="logo-tienda" src="{{ url_for('static', filename='img/Logo 2.png') }}" width="30%" height="90%">
					</a>
				</div>

				<div class="col col-auto order-3">
					<ul class="nav">
					{% if not current_user.is_authenticated: %}
						<li class="nav-item">
							<a href="/register" class="nav-link">Registrarse</a>
						</li>

						<li class="nav-item">
							<a href="/login" class="nav-link">Iniciar Sesión</a>
						</li>
					{% else: %}
					{% if current_user.id == 2: %}
						<li class="nav-item">
							<a href="/register-user" class="nav-link">Registrar usuario</a>
						</li>
					{% endif %}
						{% if current_user.tipo_id == 1: %}
							<li class="nav-item">
								<a href="{{ url_for('mostrar_carrito') }}" class="nav-link">Carrito</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a href="/logout" class="nav-link">Cerrar Sesión</a>
						</li>
					{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</header>
