{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="prod-feat col-lg-5 col-md-6 col-sm-3 mx-auto">
                <div class="white-box text-center"><img src="{{ prod.imagen }}" class="img-responsive"></div>
            </div>
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{prod.nombre_producto}}</h1>
                    <h2 class="subheading">${{prod.precio}}</h2>
                    <span class="meta">Stock total: {{prod.stock}}</span>
                    <span class="meta">Creado el {{prod.fecha_creacion}}</span>
                </div>
            </div>
            <span class="meta">
                <a type="submit" href="{{ url_for('anadir_carrito', prod_id=prod.id) }}" class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title="" data-original-title="Add to cart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
                <button class="btn btn-secondary btn-rounded">Comprar ahora</button>
            </span>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ prod.descr_producto|safe }}
                <hr>
                {% if current_user.tipo_id == 3 or current_user.tipo_id == 2 %}
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="{{url_for('editar_prod', prod_id=prod.id)}}">Editar
                        producto</a>
                    <a class="btn btn-primary float-right" href="{{url_for('del_prod', prod_id=prod.id)}}">Eliminar
                        producto</a>
                </div>
                {% endif %}


                <!--           Comments Area -->

                {{ ckeditor.load() }}
                {{ ckeditor.config(name='comment_text') }}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}


                <div class="col-lg-8 col-md-10 mx-auto comment">
                    {% for comment in prod.comments: %}
                    <ul class="commentList">
                        <li>
                            <div class="commenterImage">
                                <img src="{{ comment.comment_author.email | gravatar }}"/>
                            </div>
                            <div class="commentText">
                                {{comment.text|safe}}
                                <span class="date sub-text">{{comment.comment_author.name}}</span>

                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>


            </div>
        </div>
    </div>
</article>

<hr>

{% include "footer.html" %}
{% endblock %}