<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Store</title>

    <!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700|Shadows+Into+Light" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('home') }}">Inicio <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Bartisanal</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">Muchas gracias</h1>
        <p class="lead">Muchas gracias por su compra.</p>
      </div>

      <footer class="footer">
        <p>&copy; Bartisanal 2021</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>